.Baner
  background-image: url("../../../assets/images/pexels-ketut-subiyanto-4559524.jpg")
  background-size: cover
  background-position: top 60% left 40%
  height: calc(100vh - 196px)
    /* min-height: 577px; */
  position: absolute
    /* top: 0; */
  width: 100%

.Container
  max-width: 1080px
  position: relative
  z-index: 2
  margin: auto
  padding: 0 1rem
  height: 100%

.Row
  display: flex
  justify-content: center
  position: absolute
  top: 25%
  left: 0

.TitleContainer
  background: #cc984f
  border-radius: 20px
  padding: 5px 15px
  opacity: 0.91
  width: 350px

.Title
  color: #ffffff
  font-family: ChinaWest, sans-serif
  font-size: 4.2rem
  margin: 15px 0

.Paragraph
  font-family: 'Calibri', sans-serif
  font-size: 1.3em
  color: #ffffff

